[submodule "openinfer-kernels/third_party/flashinfer"]
	path = openinfer-kernels/third_party/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
[submodule "openinfer-kernels/third_party/DeepEP"]
	path = openinfer-kernels/third_party/DeepEP
	url = https://github.com/deepseek-ai/DeepEP
